.article-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: 1rem auto;
    max-width: 80%;
    justify-content: center;

    width: 256px;

}
@media screen and (min-width: 700px) {
    .article-wrap {
        width: 590px;
    }
}
@media screen and (min-width: 1166px) {
    .article-wrap {
        width: 870px;
        justify-content: flex-start;
    }
}
article {
    border: 1px solid #ddd;
    width: 22%;
    height: max-content;
    padding: 1rem;

    min-width: 262px;
    margin: 0 .5rem 3rem;
}

img {
    max-width: 100%;
    height: auto;
}
.entry-categories,
.post-meta-wrapper {
    display: none;
}
.img-wrap {
    height: 150px;
    margin: 1rem 0;
    overflow-y: hidden;
}
.entry-title {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
